source/html/services2.pug
extends base.pug
block content
		div(class="breadcrumb-area breadcrumb-area_rare")
			div(class="container position-relative")
				img(class="breadcrumb-area__preview-img lazyload" data-src="images/car 1.png" alt="img")
				div(class="row")
					div(class="col-12 col-lg-7")
						h1(class="pb-5")
							| Кредит под залог автомобиля
						<nav aria-label="breadcrumb" >
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">контакты</li>
							</ol>
						</nav>
		div(class="credit-area")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-6 pr-lg-0")
						span(class="credit-area__title")
							| Деньги в день обращения с годовой ставкой от 6%
						div(class="py-3 d-flex flex-column flex-lg-row align-items-start justify-content-between")
							div()
								span(class="credit-area__subtitle")
									| 6%
								p
									b
										| Ставка
							div()
								span(class="credit-area__subtitle")
									| до 15 млн.р
								p
									b
										| Сумма кредита
							div()
								span(class="credit-area__subtitle")
									| 1 день
								p
									b
										| Срок одобрения
						div(class="row")
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Мы не берем аванс и предоплату. Оплата нашей работы только после получения кредита в банке
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Мы не берем аванс и предоплату. Оплата нашей работы только после получения кредита в банке
						div(class="row")
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Без подтверждения дохода, без справок  и трудоустройства
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Без подтверждения дохода, без справок  и трудоустройства
						div(class="row")
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Вы по-прежнему остаётесь собственником своего автомобиля
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Вы по-прежнему остаётесь собственником своего автомобиля
						div(class="row")
							div(class="col-12 pt-4")
								button(type="button" class="btn" data-toggle="modal" data-target="#request")
									| Оставить заявку
					div(class="col-lg-6 d-none d-lg-block")
						img(class="lazyload img-fluid" data-src="images/Group 60.png" alt="img")
		include components/info-area.pug
		include components/calculator-area.pug
		include components/advantage-area.pug
		include components/step-area.pug
		include components/request-area.pug
		include components/help-area.pug
						
	

release/services2.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="font-flaticon/flaticon.css">
    <link rel="stylesheet" href="css/template/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Project</title>
  </head>
  <body><header class="header-area">
<div class="header-top second-header d-none d-md-block">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5 col-md-8 d-none  d-md-block">
<div class="header-cta">
<ul>
    <li><a href="#">о компании</a></li>
    <li><a href="#">сотрудничество</a></li>
    <li><a href="#">Контакты</a></li></ul>
</div>
</div>
<div class="col-lg-4 col-md-4 d-none d-lg-block">
<div class="header-social d-flex justify-content-end align-items-center">
<a href="#" title="intagram">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.5 0H7.5C3.3585 0 0 3.3585 0 7.5V16.5C0 20.6415 3.3585 24 7.5 24H16.5C20.6415 24 24 20.6415 24 16.5V7.5C24 3.3585 20.6415 0 16.5 0ZM21.75 16.5C21.75 19.395 19.395 21.75 16.5 21.75H7.5C4.605 21.75 2.25 19.395 2.25 16.5V7.5C2.25 4.605 4.605 2.25 7.5 2.25H16.5C19.395 2.25 21.75 4.605 21.75 7.5V16.5Z" fill="#002E5B"/>
<path d="M12 6C8.6865 6 6 8.6865 6 12C6 15.3135 8.6865 18 12 18C15.3135 18 18 15.3135 18 12C18 8.6865 15.3135 6 12 6ZM12 15.75C9.933 15.75 8.25 14.067 8.25 12C8.25 9.9315 9.933 8.25 12 8.25C14.067 8.25 15.75 9.9315 15.75 12C15.75 14.067 14.067 15.75 12 15.75Z" fill="#002E5B"/>
<path d="M18.45 6.3495C18.8916 6.3495 19.2495 5.99155 19.2495 5.55C19.2495 5.10845 18.8916 4.7505 18.45 4.7505C18.0085 4.7505 17.6505 5.10845 17.6505 5.55C17.6505 5.99155 18.0085 6.3495 18.45 6.3495Z" fill="#002E5B"/>
</svg>
</a>
<a href="#" title="vk">
<svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.145 15C15.617 15 14.379 12.802 14.647 12.17C14.643 11.698 14.639 11.244 14.655 10.968C14.875 11.03 15.394 11.293 16.466 12.335C18.121 14.005 18.544 15 19.881 15H22.342C23.122 15 23.528 14.677 23.731 14.406C23.927 14.144 24.119 13.684 23.909 12.968C23.36 11.244 20.158 8.267 19.959 7.953C19.989 7.895 20.037 7.818 20.062 7.778H20.06C20.692 6.943 23.104 3.329 23.459 1.883C23.46 1.881 23.461 1.878 23.461 1.875C23.653 1.215 23.477 0.787 23.295 0.545C23.021 0.183 22.585 0 21.996 0H19.535C18.711 0 18.086 0.415 17.77 1.172C17.241 2.517 15.755 5.283 14.641 6.262C14.607 4.875 14.63 3.816 14.648 3.029C14.684 1.494 14.8 0 13.207 0H9.339C8.341 0 7.386 1.09 8.42 2.384C9.324 3.518 8.745 4.15 8.94 7.296C8.18 6.481 6.828 4.28 5.872 1.467C5.604 0.706 5.198 0.000999927 4.055 0.000999927H1.594C0.596 0.000999927 0 0.545 0 1.456C0 3.502 4.529 15 12.145 15ZM4.055 1.501C4.272 1.501 4.294 1.501 4.455 1.958C5.434 4.841 7.63 9.107 9.234 9.107C10.439 9.107 10.439 7.872 10.439 7.407L10.438 3.705C10.372 2.48 9.926 1.87 9.633 1.5L13.141 1.504C13.143 1.521 13.121 5.599 13.151 6.587C13.151 7.99 14.265 8.794 16.004 7.034C17.839 4.963 19.108 1.867 19.159 1.741C19.234 1.561 19.299 1.5 19.535 1.5H21.996H22.006C22.005 1.503 22.005 1.506 22.004 1.509C21.779 2.559 19.558 5.905 18.815 6.944C18.803 6.96 18.792 6.977 18.781 6.994C18.454 7.528 18.188 8.118 18.826 8.948H18.827C18.885 9.018 19.036 9.182 19.256 9.41C19.94 10.116 22.286 12.53 22.494 13.49C22.356 13.512 22.206 13.496 19.881 13.501C19.386 13.501 18.999 12.761 17.522 11.271C16.194 9.979 15.332 9.451 14.547 9.451C13.023 9.451 13.134 10.688 13.148 12.184C13.153 13.806 13.143 13.293 13.154 13.395C13.065 13.43 12.81 13.5 12.145 13.5C5.8 13.5 1.668 3.429 1.509 1.504C1.564 1.499 2.321 1.502 4.055 1.501Z" fill="#002E5B"/>
</svg>
</a>
</div>
</div>
<div class="col-lg-3 col-4 d-none d-md-block">
<a href="#" class="btn-modal" data-toggle="modal" data-target="#request">Подать заявку на кредит</a>
</div>
</div>
</div>
</div>
<div id="header-sticky" class="menu-area ">
    <div class="position-relative"><div class="container">
<div class="second-menu">
<div class="row align-items-center ">
<div class="logo">
<a href="#"><img class="lazyload" data-src="images/logo.svg" alt="logo"></a>
</div>
<div class="col-12">
<div class="responsive burger" ><span></span></div>
<div class="main-menu text-right text-xl-right">
<nav id="mobile-menu">
<ul>
<li><a href="#">Кредит<br>наличными</a></li>
<li><a href="#">Кредит под залог<br>недвижимости</a></li>
<li><a href="#">Кредит под залог<br>автомобиля</a></li>
<li><a href="#">Рефинансирование</a></li>
<li><a href="#">Ипотека</a></li>
<li><a href="#">Кредит для<br>бизнеса</a></li>
<li><a href="#">Помощь в<br>кредите</a></li>
</ul>
</nav>
</div>
</div>
<div class="right-menu"><a href="tel:88002000600"><div class="icon d-none d-lg-block">
<img class="lazyload" data-src="images/phone.svg" alt="top-m-icon.png">
</div>
<div class="text">
<span class="d-none d-lg-block">Пн - Пт: 9.00 - 18.00</span>
<strong>8 800 2000 600</strong>
</div></a></div>
</div>
</div>
</div>
    </div></div>
</header>
    <main>
      <div class="breadcrumb-area breadcrumb-area_rare">
        <div class="container position-relative"><img class="breadcrumb-area__preview-img lazyload" data-src="images/car 1.png" alt="img">
          <div class="row">
            <div class="col-12 col-lg-7">
              <h1 class="pb-5">Кредит под залог автомобиля</h1><nav aria-label="breadcrumb" >
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">главная</a></li>
<li class="breadcrumb-item active" aria-current="page">контакты</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <div class="credit-area">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 pr-lg-0"><span class="credit-area__title">Деньги в день обращения с годовой ставкой от 6%</span>
              <div class="py-3 d-flex flex-column flex-lg-row align-items-start justify-content-between">
                <div><span class="credit-area__subtitle">6%</span>
                  <p><b>Ставка</b></p>
                </div>
                <div><span class="credit-area__subtitle">до 15 млн.р</span>
                  <p><b>Сумма кредита</b></p>
                </div>
                <div><span class="credit-area__subtitle">1 день</span>
                  <p><b>Срок одобрения</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p class="credit-area__description">Мы не берем аванс и предоплату. Оплата нашей работы только после получения кредита в банке</p>
                </div>
                <div class="col-12 col-lg-6">
                  <p class="credit-area__description">Мы не берем аванс и предоплату. Оплата нашей работы только после получения кредита в банке</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p class="credit-area__description">Без подтверждения дохода, без справок  и трудоустройства</p>
                </div>
                <div class="col-12 col-lg-6">
                  <p class="credit-area__description">Без подтверждения дохода, без справок  и трудоустройства</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p class="credit-area__description">Вы по-прежнему остаётесь собственником своего автомобиля</p>
                </div>
                <div class="col-12 col-lg-6">
                  <p class="credit-area__description">Вы по-прежнему остаётесь собственником своего автомобиля</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 pt-4">
                  <button class="btn" type="button" data-toggle="modal" data-target="#request">Оставить заявку</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img class="lazyload img-fluid" data-src="images/Group 60.png" alt="img"></div>
          </div>
        </div>
      </div>
      <div class="info-area">
        <div class="container">
          <div class="row pb-5">
            <div class="col-12  d-flex flex-column align-items-center">
              <h2 class="text-center">Документы и условия</h2><img class="lazyload" data-src="images/line.svg" alt="img">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-10 position-relative offset-lg-2"><img class="lazyload info-area__img" data-src="images/fs 1.png" alt="img">
              <div class="info-area__wrapper">
                <div class="row">
                  <div class="col-12 col-lg-6 pb-5 pb-lg-0">
                    <h3>Требования:</h3>
                    <ol>
                      <li>Возраст от 21 до 75 лет.</li>
                      <li>Гражданство РФ</li>
                      <li>Наличие в собственности автомобиля</li>
                      <li>Иномарки - не старше 30 лет</li>
                      <li>Отечественные - не старше 15 лет</li>
                      <li>Спецтехника - без ограничения</li>
                    </ol>
                  </div>
                  <div class="col-12 col-lg-6">
                    <h3>Документы*:</h3>
                    <ol>
                      <li>Паспорт, СНИЛС </li>
                      <li>Свидетельство на транспортное средство (СТС)</li>
                      <li>Паспорт транспортного средства (ПТС)</li>
                      <li>Водительское удостоверение</li>
                      <li>Фото автомобиля</li>
                    </ol>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-lg-6 offset-lg-6">
                    <p>*Может потребоваться дополнительный пакет документов в зависимости от банка</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="calculator-area">
        <div class="container">
          <div class="row pb-5">
            <div class="col-12 d-flex flex-column align-items-center">
              <h2 class="text-center">Калькулятор кредита</h2><img class="lazyload" data-src="images/line.svg" alt="img">
            </div>
          </div>
          <div class="row align-items-lg-center">
            <div class="col-12 col-lg-6 d-none d-lg-block"><img class="lazyload calculator-area__img" data-src="images/calculator.png" alt="img"></div>
            <div class="col-12 col-lg-6">
              <form>
                <div class="row pb-5">
                  <div class="col-lg-4 pb-4 pb-lg-0">
                    <div class="calculator__item"><span class="calculator__title">Сумма кредита</span>
                      <input class="mb-3 w-100" type="text" id="amountSum" readonly>
                      <div id="sliderSum"></div>
                    </div>
                  </div>
                  <div class="col-lg-4 pb-4 pb-lg-0">
                    <div class="calculator__item"><span class="calculator__title">Срок кредита</span>
                      <input class="mb-3 w-100" type="text" id="amountDate" readonly>
                      <div id="sliderDate"></div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="calculator__item"><span class="calculator__title">Ставка, %</span>
                      <input class="mb-3 w-100" type="text" id="amountPrecent" readonly>
                      <div id="sliderPrecent"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-lg-6 pb-5 pb-lg-0">
                    <div class="calculate__result"><span class="calculate__result-title">Ежемесячный платеж</span>
                      <div class="calculate__result-count">12 667,58 ₽</div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 d-flex d-lg-block justify-content-center">
                    <button class="btn" type="submit">Оставить заявку</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <div class="advantage-area">
        <div class="container">
          <div class="row pb-5">
            <div class="col-12 d-flex flex-column justify-content-center">
              <h2 class="text-center">Преимущества работы с нами</h2><img class="lazyload" data-src="images/line.svg" alt="img">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4 mb-5">
              <div class="advantage-area__item"><img class="lazyload mb-3" data-src="images/insurance 1.svg" alt="img">
                <h3>Нет скрытых комиссий и<br>страховок</h3>
                <p class="px-4">Отменим обязательное страхование кредита, либо вернем деньги за страховку, что сэкономит Вам до 30% от всей суммы кредита</p>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
              <div class="advantage-area__item"><img class="lazyload mb-3" data-src="images/family 1.svg" alt="img">
                <h3>Помогаем всем <br>в получении</h3>
                <p class="px-4">Поможем получить кредит безработным, без справок о доходах и с любой кредитной историей</p>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
              <div class="advantage-area__item"><img class="lazyload mb-3" data-src="images/warranty 1.svg" alt="img">
                <h3>Гарантия получения<br>кредита</h3>
                <p class="px-4">Гарантируем одобрение кредита в банке Москвы. Наши менеджеры будут сопровождать Вас от начала и до самого получения кредита</p>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
              <div class="advantage-area__item"><img class="lazyload mb-3" data-src="images/online-payment 1.svg" alt="img">
                <h3>Без предоплаты</h3>
                <p class="px-4">Мы не берем никаких предоплат и скрытых комиссий. Оплата нашей работы только после получения Вами кредита на руки</p>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
              <div class="advantage-area__item"><img class="lazyload mb-3" data-src="images/money 1.svg" alt="img">
                <h3>Работа бесплатно</h3>
                <p class="px-4">Если по каким либо причинам нам не удалось Вам помочь, то вся наша работа будет для Вас абсолютно БЕСПЛАТНОЙ</p>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
              <div class="advantage-area__item"><img class="lazyload mb-3" data-src="images/real-estate (1) 1.svg" alt="img">
                <h3>Кредит на любые цели</h3>
                <p class="px-4">Одобрим кредит на любые цели от 500 000 до 500 000 000 рублей физическим и юридическим лицам</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step-area">
        <div class="container">
          <div class="row pb-5">
            <div class="col-12 d-flex flex-column align-items-center">
              <h2 class="text-center">Процесс получения одобрения</h2><img class="lazyload" data-src="images/line.svg" alt="img">
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-2 offset-lg-1">
              <div class="step-area__item step-area__item_1">
                <h3>оставляете заявку</h3>
                <p>По телефону или на сайте</p>
              </div>
            </div>
            <div class="col-6 col-lg-2">
              <div class="step-area__item step-area__item_2">
                <h3>консультируем</h3>
                <p>Мы бесплатно консультируем Вас по телефону</p>
              </div>
            </div>
            <div class="col-6 col-lg-2">
              <div class="step-area__item step-area__item_3">
                <h3>договор</h3>
                <p>Заключаем договор в нашем офисе</p>
              </div>
            </div>
            <div class="col-6 col-lg-2 ">
              <div class="step-area__item step-area__item_4">
                <h3>получение денег</h3>
                <p>Вы получаете наличные в банке</p>
              </div>
            </div>
            <div class="col-6 col-lg-2">
              <div class="step-area__item step-area__item_5">
                <h3>оплата услуг</h3>
                <p>Оплачиваете нам комиссию согласно договора</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="request-area">
        <div class="container">
          <div class="row align-items-lg-center">
            <div class="col-12 col-lg-5 offset-lg-1">
              <h2 class="text-white mb-4">Остались вопросы?</h2>
              <p class="text-white pb-4">Оставьте свой номер телефона и мы дадим вам полную и развернутую консультацию</p>
            </div>
            <div class="col-12 col-lg-5">
              <form class="d-flex align-items-start" action="" method="POST">
                <input type="text" placeholder="+7 495 000 00 00">
                <button type="submit">Отправить</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <div class="help-area">
        <div class="container">
          <div class="row pb-5">
            <div class="col-12  d-flex flex-column align-items-center">
              <h2 class="text-center">Помощь в получении кредита</h2><img class="lazyload" data-src="images/line.svg" alt="img">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p> Финансовые проблемы возникают практически у каждого человека. Если решить их необходимо максимально оперативно, стоит задуматься о системе кредитования или займе. Собственники автомобиля находятся в выигрышном положении, поскольку могут использовать такое имущества в качестве залогового. Кредит под залог автомобиля банки выдают гораздо охотнее, чем неподтвержденные займы, да и сумма ссуды в таком случае больше. Кроме банков, подобные кредиты предоставляют автоломбарды. Однако условия кредитования в подобных организациях хуже, а зачастую транспортное средство приходится оставлять на стоянке ломбарда до тех пор, пока кредит не будет погашен.</p>
              <p>Если вам необходим кредит под залог автомобиля в Москве, есть два выхода из этой ситуации. В первом случае вы самостоятельно готовите пакет документов и подаете заявку в банк. При таком подходе повышается риск отказа – из-за неправильно подготовленных документов, наличия проблем в истории заемщика.</p>
            </div>
          </div>
        </div>
      </div>
    </main><footer class="footer-bg footer-p">
<div class="footer-top-heiding">
<div class="container">
<div class="row align-items-center">
<div class="col-12 col-lg-6 pr-lg-0">
<div class="section-title">
<h2>Мы поможем подобрать для Вас лучшие условия по кредиту</h2>
</div>
</div>
<div class="col-12 d-flex justify-content-center d-lg-block col-lg-4 offset-lg-2">
<a href="#" class="btn-modal" data-toggle="modal" data-target="#request">Подать заявку на кредит</a>
</div>
</div>
</div>
</div>
<div class="footer-top">
<div class="container">
<div class="row">
<div class="col-12 col-lg-3">
<div class="footer-widget mb-30 ">
<div class="f-widget-title  d-flex justify-content-start">
<h2>Контакты</h2>
</div>
<div class="footer-link">
<div class="f-contact">
    <div class="f-contact__item d-flex align-items-center mb-3"><i class="fas fa-phone-volume"></i><span class="d-flex flex-column"><a href="tel:+78000000000">+7 800 000-00-00</a><a href="tel:+78000000000">+7 800 000-00-00</a></span></div>
    <div class="f-contact__item d-flex align-items-center mb-3"><i class="far fa-envelope"></i>
<span>
<a href="mailto:info@mail.ru">info@mail.ru</a><br>
<a href="mailto:info@gmail.com">info@gmail.com</a>
</span>
    </div>
    <div class="f-contact__item d-flex align-items-center"><i class="fal fa-map-marker-alt"></i>
<span>Москва, ул. Ленина 1<br>офис 1</span>
    </div></div>
</div>
</div>
</div>
<div class="col-12 col-lg-9 d-none d-lg-block">
<div class="footer-widget mb-30">
    <div class="row">
      <div class="col-12 d-flex justify-content-start"><div class="f-widget-title">
<h2>Информация</h2>
</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4"><div class="footer-link">
<ul>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит под залог земельного участка</a></li>
<li><a href="#">Кредит под залог таунхауса</a></li>
<li><a href="#">Кредит под залог апартаментов</a></li>
<li><a href="#">Потребительский кредит наличными</a></li>
<li><a href="#">Кредит под залог ПТС</a></li>
<li><a href="#">Кредит под залог автомобиля</a></li>
<li><a href="#">Кредит наличными</a></li>
</ul>
</div>
      </div>
      <div class="col-12 col-lg-4"><div class="footer-link">
<ul>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
</ul>
</div>
      </div>
      <div class="col-12 col-lg-4"><div class="footer-link">
<ul>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
<li><a href="#">Кредит наличными</a></li>
</ul>
</div>
      </div>
    </div></div>
</div>
</div>
</div>
</div>
<div class="copyright-wrap">
<div class="container">
<div class="row align-items-center justify-content-center justify-content-lg-between">
<div class="col-12 col-lg-7 text-center text-lg-left">2020 iqcredit - финансовые услуги</div>
<div class="col-12 col-lg-4 pt-3 pt-lg-0 d-flex justify-content-center justify-content-lg-end"><a class="deksis" href="https://deksis.ru">Разработка сайта<img class="lazyload pl-3" data-src="images/deksis.png" alt="img"></a></div>
</div>
</div>
</div>
</footer><!-- Modal -->
<div class="modal fade" id="request" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="request" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h2 class="modal-title" id="requestLabel">Отправить заявку</h2>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form>
<input class="mb-3 w-100" type="text" placeholder="Имя">
<input class="mb-3 w-100" type="text" placeholder="Телефон">
<input class="mb-3 w-100" type="text" placeholder="Почта">
<p class="text-center">*Нажимая на кнопку "отправить" вы соглашаетесь с <a href="#">политикой обработки персональных данных.</a></p>
<div class="modal-footer">
<button type="button" class="btn btn-primary">Отправить</button>
</div>
</form>
</div>
</div>
</div>
</div>
    <script src="js/main.min.js"></script>
  </body>
</html>
